<!DOCTYPE html>
<html>
<head>
  <title>Angular To Do List</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
</head>
<body ng-app="todoApp">
	<div ng-controller="TodoController">
 		<div id="tools">
 			<h1>{{Title}} X</h1>
 			Pending Tasks: <strong>{{pendingCount}} of {{tasks.length}}</strong>
 			<br>
 			<input type="text" placeholder="New task?" ng-model="newTask"/>
 			<button ng-click="addTask()" ng-disabled="!newTask">Add</button>
 			<br>
 			<button ng-show="completedCount < tasks.length" ng-click="changeAll(true)">Mark all as Complete</button>
 			<button ng-show="pendingCount < tasks.length" ng-click="changeAll(false)">Mark all as Pending</button>
 			<button ng-show="completedExist" ng-click="removeCompleted()">Remove completed tasks ({{completedCount}})</button>
 		</div>
 		<ol>
 			<li ng-repeat="task in tasks track by $index">
 				<label class="done-{{task.done}}">
 					<input type="checkbox" ng-model="task.done" ng-change="updateTasks()"/>
 					<input type="text" class="edit_task" value="{{task.text}}" ng-model="tasks[$index].text" 
 						ng-change="" ng-show="taskEdits[$index]" ng-blur="updateTasks()"/>
 					<span ng-show="!taskEdits[$index]">{{task.text}}</span>
 				</label>
 					<button class="task_btn" ng-click="removeTask($index)">Remove</button>
 					<button class="task_btn" ng-click="makeEditable($index)">{{taskEdits[$index] ? 'Done' : 'Edit'}}</button>
 			</li>
 		</ol>
 	</div>
</body>
</html>